<IfModule mod_rewrite.c>
  RewriteEngine On

  # Redirect to trailing slash if not folder or file
  RewriteCond %{REQUEST_URI} /+[^\.]+$
  RewriteRule ^(.+[^/])$ %{REQUEST_URI}/ [R=301,L]
</IfModule>
